<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: New_Template1 (2014-07-09 11:55)</string>
	<string>M6.5.2-2119-1</string>
	<string>G-r10-1GR451</string>
	<string>G-r10-1GR454</string>
	<string>G-r10-1GR455</string>
	<string>G-r10-1GR456</string>
	<string>G-r10-1GR457</string>
</array>
</plist>
